@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* COLOR MORADO GALAXIA */
    /* Modo claro */
    --background: 0 0% 99%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 354 99% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 186 47% 44%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 45 100% 58%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 26%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 354 99% 62%;
    --radius: 0.5rem;
  }

  .dark {
    /* Dark mode */
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 354 99% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 186 47% 44%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63%;
    --accent: 45 100% 58%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 26%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 354 99% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-wave-text {
  background: linear-gradient(
    45deg,
    #fe3f50,
    #feb129,
    #021a94,
    #2cacb3,
    #870101,
    #fbfe85
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-wave 10s ease infinite;
}
